.dropdown {
  position: sticky;
  display: inline-block;
  z-index: 0;
}

.dropbtn {
  z-index: 0;
}

.dropdown-menu {
  position: absolute;
  display: none;
  min-width: 160px;
  background-color: $background_color;
  z-index: 5;
  box-shadow: 0px 0px 8px 1px black;
}

.dropdown-item {
  z-index: 5;
  
}
.dropdown:hover .dropdown-menu {
  display: block;
}
